:root{

  --redColor:#d1410c
  
}

body {
  font-family: eventFont2;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
  color: rgb(234, 154, 114);
}

.container-h1 {
  font-family: eventFont4;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin: 60px 0px;
}

.container .text-center {
  margin: 50px 0px;
}

.categories {
  height: 54px;
  width: 100%;
  border: 1px solid #eeedf2;
  border-radius: 2px;
  padding-left: 16px;
  background: #f8f7fa;
}

.container-of-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 80px;
}

.card {
  border-style: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.card-text {
  color: rgb(203, 37, 37);
  font-weight: bold;
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.card-desc {
  font-weight: bold;
}

/* Styles required only for the example above */
.scrollspy-example {
  position: relative;
  height: 500px;
  /* width: 80%; */
  overflow: auto;
  margin: 30px;
}

.Features-container {
  display: grid;
  grid-template-columns: repeat(4, 1.2fr);
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.Features-item {
  display: flex;
  height: 54px;
  width: 100%;
  border: 1px solid #eeedf2;
  background: #f8f7fa;
  border-radius: 2px;
}

.features-icon {
  background-color: rgb(250, 240, 232);
  padding: 18px 10px;
}

.features-name {
  padding-left: 16px;
  padding-top: 18px;
}

.footer-list-items ul {
  margin-left: 300px;
}

.footer-list-items ul li {
  font-size: 9px;
  margin: 10px;
  list-style:disc;
}
.text-uppercase {
  text-align: left;
}

.list-unstyled li {
  text-align: left;
  font-size: 10px;
}
